* {
    margin: 0;
    padding: 0;
    font-size: 16px;

}


h2 {
    font-size: 30px;
    color: red;
    text-shadow: 2px 2px black;
}

h3 {
    font-size: 20px;
    color: red;
    text-shadow: 1px 1px black;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #111;
    text-align: center;
    
}


header {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid rgb(231, 222, 222);
    background: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    z-index:2;
}

.logo {
    height: 80px;
    float: left;
    
      
}

nav {
    float: right;
    line-height: 69px;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    padding: 24px 10px;
    color: rgb(255, 255, 0);
    text-shadow: 3px 3px #000000;

}


.wrapper {
    width: 100%;
}

.welcome-goblin {
    margin-top: 60px;
    width: 70%;
    height: 70%;
    
}

.img-container {
    display: flex;
    justify-content: center;
}

.welcome-info {
    width: 100%;
}

.welcome-info h2 {
    padding: 1.89rem 1.89rem 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;

    text-align: center;
    
}

.welcome-info p {
    padding: 0px 1.89rem 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #111;
    text-align: center;
    line-height: 24px;
    
}

#dungeon {
    display: flex;
    padding-top: 20%;
    padding-left: 2%;
    justify-content: left;
    background-image: url(img/dungeon-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    
    
    
}

#dungeon h2 {
    
    font-size: 15px;
    color: red;
    text-shadow: 2px 2px black;
    

    

}
#dungeon-link {
    height: 50px;
}

#weapons-link{
    height: 1px;
}

#hates-link{
    height: 1px;
}

#link-item {
    cursor: url(img/axe-cursor.png), auto;
}

#link-item-hate {
    cursor: url(img/skull-cursor.png), auto;
}
#link-item-dungeon {
    cursor: url(img/castle-cursor.png), auto;
}

a:hover {
    background-color: yellow;
    color:red;
    text-shadow: none;

}





.weapon-box {
    display: flex;
    background-image: url(img/armory.jpg);
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    height: 600px;
    
}

.weapon-block {
    display: flex;  
    height: auto;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-top: 15px;
    max-width: 100%;

}


.weapon-card {
    display: flex;
    flex-direction: column;
    margin: 30px;

    width: 30%;
    height: 30%;
    align-items: center;
    justify-content: center;
    
    
}

.weapon-card h5 {
    color: red;
    text-shadow: 2px 2px black;
}

.weapon-card .weapon {
    display: flex;

    max-width: 100%;
    flex-shrink: 2;
}

.weapon-title h2 {
    font-size: 30px;
    color: red;
    text-shadow: 2px 2px black;
    padding: 10px;
}


.hate-item img {
 
    width: 80%;

}

.hate-list h3 {
    padding: 20px;
}

#hates {
    margin: 20px;
}




@media only screen and (min-width: 420px){
    
    #dungeon {

        height: 200px; 
    }


    .weapon-card {

        width: 20%;
        height: 20%;

    }

}




@media only screen and (min-width: 600px){

    #dungeon {

        height: 250px;
        
        
        
    }

}






@media only screen and (min-width: 768px) {

    .welcome-goblin {
        width: 50%;
        height: 50%;
    }

    .wrapper {
       
        margin: 0 auto;
    }

    #dungeon {

        padding-top: 25%;
        padding-left: 10%;
        
        
        
    }

    #dungeon h2 {
        font-size: 25px;
    }
    
    .hate-item img.brother {
 
        width: 70%;
    
    }
    



}

@media only screen and (min-width: 1000px) {

    body p {
        font-size: 18px;
     }

    .wrapper {
   
    }
    
    .welcome-goblin {
        width: 40%;
        height: 40%;
    }

    #dungeon {

        height: 350px; 
    }



    #dungeon h2 {
        font-size: 32px;
    }

    .hate-item img {
 
        width: 40%;
    
    }
    
    .hate-item img.brother {
     
        width: 30%;
    
    }
    
    .hate-item img.party {
     
        width: 80%;
    
    }



}






@media only screen and (min-width: 1200px) {

    #dungeon {

        height: 550px; 
    }

    .weapon-card {

        width: 12%;
        height: 12%;

    }
}